<section class="blog section-padding" id="blog">
    <div class="container">
        <div class="heading text-center mb-5">
            <h2 class="title">مدونة وسارعو التعليميه</h2>
            <p class="description">قصص نجاح ملهمة ومقالات تعليمية متنوعة لدعم رحلتك التعليمية</p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="blog-card shadow-lg">
                    <div class="img">
                        <img src="~/images/aboutus.png" alt="student">
                    </div>
                    <div class="content p-4">
                        <h3>التعليم الرقمي في مصر: نقلة نوعية نحو المستقبل</h3>
                        <p>كيف تساهم التكنولوجيا في تطوير التعليم وتحسين جودة التعلم للطلاب العمانيين</p>
                        <a href="#">اقرأ المزيد</a>
                        <ul class="list-unstyled d-flex flex-wrap gap-3 border-top border-secondary pt-4 px-4">
                            <li>#تعليم رقمي</li>
                            <li>#تكنولوجيا</li>
                            <li>#مصر</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card shadow-lg">
                    <div class="img">
                        <img src="~/images/aboutus.png" alt="student">
                    </div>
                    <div class="content p-4">
                        <h3>التعليم الرقمي في مصر: نقلة نوعية نحو المستقبل</h3>
                        <p>كيف تساهم التكنولوجيا في تطوير التعليم وتحسين جودة التعلم للطلاب العمانيين</p>
                        <a href="#">اقرأ المزيد</a>
                        <ul class="list-unstyled d-flex flex-wrap gap-3 border-top border-secondary pt-4 px-4">
                            <li>#تعليم رقمي</li>
                            <li>#تكنولوجيا</li>
                            <li>#مصر</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card shadow-lg">
                    <div class="img">
                        <img src="~/images/aboutus.png" alt="student">
                    </div>
                    <div class="content p-4">
                        <h3>التعليم الرقمي في مصر: نقلة نوعية نحو المستقبل</h3>
                        <p>كيف تساهم التكنولوجيا في تطوير التعليم وتحسين جودة التعلم للطلاب العمانيين</p>
                        <a href="#">اقرأ المزيد</a>
                        <ul class="list-unstyled d-flex flex-wrap gap-3 border-top border-secondary pt-4 px-4">
                            <li>#تعليم رقمي</li>
                            <li>#تكنولوجيا</li>
                            <li>#مصر</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>