@model Sareoo.Areas.Admin.Models.Entities.Teacher

<form asp-action="Create" asp-controller="Teachers" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-red-400 mb-4"></div>

    <div>
        <label asp-for="FullName" class="block mb-2 text-sm font-medium text-gray-300">الاسم الكامل</label>
        <input asp-for="FullName" class="input-style w-full p-2.5" />
        <span asp-validation-for="FullName" class="text-red-400 mt-2 text-xs"></span>
    </div>

    <div class="mt-4">
        <label asp-for="JobTitle" class="block mb-2 text-sm font-medium text-gray-300">المسمى الوظيفي</label>
        <input asp-for="JobTitle" class="input-style w-full p-2.5" />
        <span asp-validation-for="JobTitle" class="text-red-400 mt-2 text-xs"></span>
    </div>

    <div class="flex items-center justify-end pt-6">
        <button type="submit" class="primary-btn px-6 py-2 rounded-lg cursor-pointer">إنشاء وحفظ</button>
    </div>
</form>
